body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-family: 'franklin gothic demi', sans-serif;
}

p {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 0.9em;
}


/***** FORSIDE AFLEVERINGSSITE *****/

.logo {
    position: absolute;
    margin: 2vw;

}

.logo img {
    height: 15vw;
    width: auto;
}

#splash {
    margin: 0;
    background-image: ;
    background-size: 100%;
    ;
    background-repeat: no-repeat;
    background-color: white;
    height: 37vw;

}

#splash h2 {
    margin: 0;
    padding: 15vw 10vw 5vw;
    text-align: center;
    font-family: 'franklin gothic heavy', sans-serif;
    font-weight: lighter;
    font-size: 7vw;
    color: mintcream;
}

h3 {
    font-family: 'Verdana';
    margin: 0;
    padding: 15px 0 0;
    text-align: center;
    font-weight: bolder;

}

#splash_afleveringssite p {
    padding-top: 5.5vw;
    padding-bottom: 5.5vw;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

#container_splash {
    padding: 0vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}

#container_splash a {
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
}


#container_splash p {
    margin-top: 6vw;
    margin-bottom: 6vw;
}

#flexbox_splash {
    align-content: center;
    flex-basis: 15vw;
    height: 15vw;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
}

.flexbox_splash1:hover {
    background-color: whitesmoke;
    background-image: url(img/benefits_img_1.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash2:hover {
    background-color: whitesmoke;
    background-image: url(img/app_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash3:hover {
    background-color: whitesmoke;
    background-image: url(img/pitch_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.flexbox_splash4:hover {
    background-color: whitesmoke;
    background-image: url(img/proces_img.svg);
    background-repeat: no-repeat;
    transform: scale(1.1);
}


h1 {
    font-family: "Verdana";
    text-align: center;
    margin: 0;
    padding: 55px 0 0 0;
    text-decoration-line: overline;
}

#benefits {
    margin: 0;
    padding: 0;
    padding-top: 4vw;
    width: 100%;
    height: 250px;
    background-color: ;
}

#benefits h1 {
    color: black;
}

#benefits p {
    padding: 0 50px;
    color: black;
    font-family: "Verdana";
    text-align: center;
}

#app_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}


#app_link p {
    padding: 0 50;
    text-align: center;
    font-family: "Verdana";
    color: white;
}

#pitch_link {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;

}

#pitch_link h1 {
    color: black;
}

#pitch_link p {
    padding: 0 50px;
    text-align: center;
    font-family: "Verdana";
    color: white;
}

#procesdokumentation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 350px;
    background-color: black;
}

#procesdokumentation p {
    padding: 0 50px;
    text-align: center;
    font-family: "verdana";
    color: white;

}

#procesdokumentation a {
    font-family: "Verdana";
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

#procesdokumentation a:hover {
    color: cadetblue;
    text-decoration: none;

}


#footer {
    height: 3vw;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Verdana";

}

/*****problemstilling*****/

#problemstilling {
    background-color: black;
    color: white;
    padding: 5vw;
}


#mindmap {}


#expmap {
    background-color: black;
    color: white;
    padding: 5vw;
    text-align: center;
}

/*****navigation*****/

header {
    background: black;
    width: 100vw;
}

header nav {
    font-size: 1.2em;
    text-align: right;
    margin: 0 5vw 0;
    padding: 0.1vw;
    color: navajowhite;
    font-family: 'Verdana', sans-serif;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;

}

header a:hover {
    color: slateblue;
}

/*****splash*****/

#splash {
    background-image: url(images/splash.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40vw;
    width: 100vw;
}

/****business****/

#bmc {
    background-color: white;
    color: black;
    padding-top: 2vw;
}

#bmc_img {
    background-image: url(images/bmp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vw;
    width: 75vw;
    margin: 5vw 13vw;

}

#expmap img {}

#mood_img {
    background-image: url(images/moodboard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vw;
    width: 75vw;
    margin: 5vw 13vw;
}

/****** brugerchart *****/

#brugertest {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 2vw;
}

#brugerchart {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 5vw;

}


.brugerchart {
    justify-content: center;
    align-content: center;
    flex-basis: 100px;
    flex-grow: 1;

    height: 30vw;
    width: 30vw;
    background-position: center;
}

.brugerchart img {
    padding-top: 2vw;
    vertical-align: middle;
    width: 40vw;
    height: 25vw;


}


/****persona****/

#persona {
    background-color: black;
    color: white;
    padding: 5vw;
}

.persona_content {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 5vw;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.persona_text {
    width: 40vw;
    flex-basis: 500px;
    flex-grow: 1;




}

.persona_text p {
    text-align: left;




}

.persona_img {
    width: 40vw;
    flex-basis: 500px;
    flex-grow: 1;
    margin-left: 2vw;


}

.persona_img img {
    padding-top: 2vw;
    vertical-align: middle;
    width: 40vw;
    height: auto;


}

/****** features ****/

#features {
    font-family: 'Verdana', sans-serif;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 5vw;


}

.feature_list {
    margin-left: 20vw;
}

/**** storyboard*****/

#storyboard {
    background-color: white;
    color: black;
    padding: 5vw;
}

.storyboard_content {
    display: flex;
    flex-wrap: nowrap;
    margin: 2vw 5vw;
    justify-content: center;
    text-align: center;
}

.storyboard1 {
    width: 40vw;
    flex-basis: 300px;
    flex-grow: 1;

}

#storyboard img {
    height: 30vw;
}

.storyboard2 {
    flex-basis: 300px;
    flex-grow: 1;

    width: 40vw;
    height: auto;
}

/*****design*****/

#design {
    text-align: center;
    color: white;
}


#design img {
    height: 30vw;
}

.moodboard {
    width: 80vw;

}

.appikon {
    display: flex;
    justify-content: center;
}

.app_img {
    flex-basis: 300px;
    flex-grow: 1;

}

.moodboard img {
    height: 40vw;
    width: auto;
}

/****** paint points ****/

#pain_point {
    background-color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

/***** scrum *****/

.scrum_content {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 5vw;
    justify-content: center;
    text-align: center;

}

#scrum {

    color: black;
    background-color: aliceblue;
    padding-top: 2vw;
    padding-bottom: 2vw;


}






/** APP!!! **/

#app_test {}

#app_iframe {
    position: absolute;
    left: 40%;
    top: 4%;
}
