body {
    margin: 0;
}

h1 {
    text-align: center;
}

#bmc_img {
    background-image: url(images/bmp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vw;
    width: 75vw;
    margin: 5vw 13vw;
}
